In [18]:
import pandas as pd
import numpy
import time
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, fpgrowth, association_rules

In [35]:
#匯入資料
import pandas as pd
data = pd.read_csv("C:\\交易資料集.csv")
data = data.dropna()
data = data[data.QUANTITY>0]
data = data[["ITEM_ID","INVOICE_NO"]]
data

         ITEM_ID  INVOICE_NO
0        3217532  CX47348203
1        3326781  CX47346522
2         740487  CX47348534
4          70072  CX47346184
6        3420352  CX47347899
...          ...         ...
157389  14691206   216071271
157390   3249493   216075314
157391    133619   216072287
157392  15231095   216077517
157395  14852949   216070810

[128837 rows x 2 columns]

In [36]:
#資料分組(以發票號碼分組)
X = data.groupby(by=["INVOICE_NO"])
X = X.groups
invoice_no =[]
items = []
for key in X:
    item = []
    for value in X.get(key):
        item.append(data.at[value,"ITEM_ID"])
    invoice_no.append(key)
    items.append(item)

In [37]:
#模型資料
data = {
    "invoice_no": invoice_no,
    "items": items
}
data = pd.DataFrame(data)

te = TransactionEncoder()
te_items = te.fit(items).transform(items)
te_items = pd.DataFrame(te_items, columns=te.columns_)

In [22]:
#Apriori support=0.001
t1 = time.perf_counter()
result = apriori(te_items, min_support=0.001,use_colnames=True, verbose=1)
t2 = time.perf_counter()
print("Apriori時間:", t2-t1, "秒")

Apriori_result_1 = association_rules(result, metric="lift", min_threshold=1)
Apriori_result_1

Processing 52 combinations | Sampling itemset size 4 32
Apriori時間: 17.139645400000006 秒

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1697),(1698),0.002822,0.003534,0.001069,0.378641,107.128923,0.001059,1.603687
1,(1698),(1697),0.003534,0.002822,0.001069,0.302326,107.128923,0.001059,1.429288
2,(1697),(70509),0.002822,0.008137,0.001562,0.553398,68.006472,0.001539,2.220910
3,(70509),(1697),0.008137,0.002822,0.001562,0.191919,68.006472,0.001539,1.234008
4,(1697),(88411),0.002822,0.004576,0.001315,0.466019,101.848962,0.001302,1.864158
...,...,...,...,...,...,...,...,...,...
137,"(3336149, 70509)",(88411),0.001233,0.004576,0.001041,0.844444,184.554092,0.001036,6.399157
138,"(88411, 70509)",(3336149),0.002082,0.002274,0.001041,0.500000,219.867470,0.001036,1.995452
139,(3336149),"(88411, 70509)",0.002274,0.002082,0.001041,0.457831,219.867470,0.001036,1.840604
140,(88411),"(3336149, 70509)",0.004576,0.001233,0.001041,0.227545,184.554092,0.001036,1.292978
141,(70509),"(88411, 3336149)",0.008137,0.001151,0.001041,0.127946,111.185185,0.001032,1.145399

In [23]:
#Apriori 0.0007
t1 = time.perf_counter()
result = apriori(te_items, min_support=0.0007, use_colnames=True, verbose=1)
t2 = time.perf_counter()
print("Apriori時間:", t2-t1, "秒")

Apriori_result_1 = association_rules(result, metric="lift", min_threshold=1)
Apriori_result_1

Processing 18 combinations | Sampling itemset size 6 542
Apriori時間: 60.36734710000002 秒

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1696),(70509),0.002137,0.008137,0.000877,0.410256,50.415954,0.000859,1.681854
1,(70509),(1696),0.008137,0.002137,0.000877,0.107744,50.415954,0.000859,1.118360
2,(1697),(1698),0.002822,0.003534,0.001069,0.378641,107.128923,0.001059,1.603687
3,(1698),(1697),0.003534,0.002822,0.001069,0.302326,107.128923,0.001059,1.429288
4,(1697),(1755),0.002822,0.002165,0.000795,0.281553,130.077670,0.000788,1.388879
...,...,...,...,...,...,...,...,...,...
2145,(88676),"(88411, 135492, 135493, 70509)",0.001507,0.000849,0.000740,0.490909,577.974194,0.000738,1.962617
2146,(135493),"(88411, 88676, 70509, 135492)",0.001671,0.000795,0.000740,0.442623,557.063878,0.000738,1.792692
2147,(135492),"(88411, 88676, 135493, 70509)",0.001260,0.000877,0.000740,0.586957,669.460598,0.000739,2.418930
2148,(70509),"(88411, 88676, 135493, 135492)",0.008137,0.000767,0.000740,0.090909,118.500000,0.000734,1.099156
2149,(88411),"(88676, 135493, 70509, 135492)",0.004576,0.000767,0.000740,0.161677,210.745509,0.000736,1.191942

In [24]:
#FP-Growth support = 0.001
t1 = time.perf_counter()
result = fpgrowth(te_items, min_support=0.0008, use_colnames=True)
t2 = time.perf_counter()
print("FP-Growth時間:", t2-t1, "秒")

FP_Growth_result_1 = association_rules(result, metric="lift", min_threshold=1)
FP_Growth_result_1

FP-Growth時間: 1.3254150000000209 秒

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(15157064),(15192100),0.002055,0.001891,0.000932,0.453333,239.793623,0.000928,1.825810
1,(15192100),(15157064),0.001891,0.002055,0.000932,0.492754,239.793623,0.000928,1.967377
2,(14671860),(15192100),0.001644,0.001891,0.001096,0.666667,352.637681,0.001093,2.994328
3,(15192100),(14671860),0.001891,0.001644,0.001096,0.579710,352.637681,0.001093,2.375399
4,(14675955),(15192100),0.001452,0.001891,0.001041,0.716981,379.251846,0.001038,3.526654
...,...,...,...,...,...,...,...,...,...
577,(15280990),(15336088),0.007891,0.002466,0.000822,0.104167,42.243056,0.000803,1.113526
578,(15336088),(15336004),0.002466,0.002822,0.000877,0.355556,125.990939,0.000870,1.547345
579,(15336004),(15336088),0.002822,0.002466,0.000877,0.310680,125.990939,0.000870,1.447127
580,(15419008),(15306063),0.003534,0.002438,0.000932,0.263566,108.085707,0.000923,1.354584
581,(15306063),(15419008),0.002438,0.003534,0.000932,0.382022,108.085707,0.000923,1.612462

In [25]:
#FP-Growth support = 0.0007
t1 = time.perf_counter()
result = fpgrowth(te_items, min_support=0.0007, use_colnames=True)
t2 = time.perf_counter()
print("FP-Growth時間:", t2-t1, "秒")

FP_Growth_result_1 = association_rules(result, metric="lift", min_threshold=1)
FP_Growth_result_1

FP-Growth時間: 1.296736199999998 秒

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(15157064),(15192100),0.002055,0.001891,0.000932,0.453333,239.793623,0.000928,1.825810
1,(15192100),(15157064),0.001891,0.002055,0.000932,0.492754,239.793623,0.000928,1.967377
2,(14671860),(15192100),0.001644,0.001891,0.001096,0.666667,352.637681,0.001093,2.994328
3,(15192100),(14671860),0.001891,0.001644,0.001096,0.579710,352.637681,0.001093,2.375399
4,(14675955),(15192100),0.001452,0.001891,0.001041,0.716981,379.251846,0.001038,3.526654
...,...,...,...,...,...,...,...,...,...
2145,(15336004),(15336088),0.002822,0.002466,0.000877,0.310680,125.990939,0.000870,1.447127
2146,(14790248),(15336088),0.005315,0.002466,0.000795,0.149485,60.620962,0.000781,1.172858
2147,(15336088),(14790248),0.002466,0.005315,0.000795,0.322222,60.620962,0.000781,1.467568
2148,(15419008),(15306063),0.003534,0.002438,0.000932,0.263566,108.085707,0.000923,1.354584
2149,(15306063),(15419008),0.002438,0.003534,0.000932,0.382022,108.085707,0.000923,1.612462

In [26]:
#存檔&讀檔
Apriori_result_1[["antecedents", "consequents"]].to_csv("Apriori_result_1.csv")
pd.read_csv("Apriori_result_1.csv")

FP_Growth_result_1[["antecedents", "consequents"]].to_csv("FP_Growth_result_1.csv")
pd.read_csv("FP_Growth_result_1.csv")

      Unnamed: 0            antecedents            consequents
0              0  frozenset({15157064})  frozenset({15192100})
1              1  frozenset({15192100})  frozenset({15157064})
2              2  frozenset({14671860})  frozenset({15192100})
3              3  frozenset({15192100})  frozenset({14671860})
4              4  frozenset({14675955})  frozenset({15192100})
...          ...                    ...                    ...
2145        2145  frozenset({15336004})  frozenset({15336088})
2146        2146  frozenset({14790248})  frozenset({15336088})
2147        2147  frozenset({15336088})  frozenset({14790248})
2148        2148  frozenset({15419008})  frozenset({15306063})
2149        2149  frozenset({15306063})  frozenset({15419008})

[2150 rows x 3 columns]

In [33]:
#推薦產品
items = input("請輸入產品ID:")
items = [int(n) for n in items.split(", ")]
items.sort()

antecedents = FP_Growth_result_1["antecedents"]
consequents = FP_Growth_result_1["consequents"]

recommend_list = []
index = -1
for i in antecedents:
    index += 1
    f = True
    data = list(i)
    
    for item in items:
        if item not in data:
            f = False
    if not f:
        continue
            
    for recommend in list(consequents[index]):
        recommend_list.append(recommend)
        
print("推薦商品ID:", set(recommend_list))

請輸入產品ID:14671860
推薦商品ID: {15194056, 14675955, 15192100, 14980086}